.container {
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}
.container__tittle {
    text-shadow: 0.15em 0.15em #99999954;
    font-size: 3rem;
}
.container__phrase {
    width: 100%;
    max-width: 30em;
    background-color: rgba(245, 245, 245, 0.459);
    padding: 1em 2em;
    line-height: 1.4;
    border-radius: 0.7em;
    font-size: 2rem;
}
.container__btn {
    padding: 0.8em 1.2em;
    border-radius: 0.7em;
    font-size: 1.2rem;
    opacity: 0.5;
    cursor: pointer;
    transition: all 200ms ease;
}
.container__btn:hover {
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.158);
}